body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.proj-entry {
  padding: 0 2.5%;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  padding: 4px;
}

h3 {
  font-style: italic;
  font-size: 22px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 2.5%;

}

.dark-primary-color    { background: #388e3c; }
.default-primary-color { background: #4caf50; }
.light-primary-color   { background: #c8e6c9; }
.text-primary-color    { color: #ffffff; }
.accent-color          { background: #00bcd4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #bdbdbd; }

.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-left: 2px;
}

.major-text {
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
}

.location-text {
  font-size: 14px;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  line-height: 18px;
  border: transparent;
  padding: 2px;
}

a {
  /*color: #00bcd4;*/
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  display: inline-flex;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;
}

#skills-h3 {
  display: block;
  margin-top: 4px;
}

.block-title {
  padding-bottom: 10px;
  clear: both;
}

/*!* TODO: Replace with image later *!*/
/*#header {*/
  /*background-color: #484848;*/
/*}*/

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2px;
}

.center-content {
  /*padding: 2.5% 5%;*/
  padding: 1% 2%;
}

ul {
  list-style-type: none;
}

.gather-top {
  margin-left: 25%;
  margin-right: 25%;
}

.gather-foot {
  padding-left: 25%;
  padding-right: 25%;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 2px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  margin-top: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
    padding-top: 4px;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

.fab-main {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #00bcd4;
  border: none;
  outline: none;
  padding: 10px;
  color: #FFF;
  font-size: 36px;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
