body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.proj-entry {
  padding: 0 16px 8px;
}

.bio-entry {
  padding: 16px;
}

h1 {
  font-size: 45px;
  line-height: 48px;
  font-style: normal;
  display: inline;
}

h2 {
  font-size: 30px;
  line-height: 32px;
  padding: 16px 16px 0;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

h4 {
  /*font-weight: bold;*/
  font-size: 22px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h3,
h5 {
  padding: 16px;

}

hr {
  border-bottom-width: 1px;
  border-color: transparent;
  border-bottom-color: #e1e2e1;
  margin: 16px -16px;
  display: block;
}

.dark-primary-color    { background: #00701a; }
.default-primary-color { background: #43a047; }
.light-primary-color   { background: #76d275; }
.text-primary-color    { color: #ffffff; }
.primary-text-color    { color: #212121; }
.background-color      { background: #e1e2e1}

.major-text {
  font-size: 18px;
  line-height: 20px;
}

.date-text {
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  display: block;
  padding-left: 4px;
}

.location-text {
  font-size: 16px;
  line-height: 18px;
  margin: 16px;
  float: right;
}

p {
  font-size: 14px;
  line-height: 16px;
  border: transparent;
  padding: 6px;
}

a {
  font-size: 20px;
  line-height: 22px;
  /*color: #00bcd4;*/
  color: #000000;
  text-decoration: underline;
  display: inline-flex;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
}

#skills-h3 {
  display: block;
  margin-top: 6px;
}

.block-title {
  padding-bottom: 16px;
  clear: both;
}

#header {
  padding: 18px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 16px;
  padding-top: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 6px;
}

.card {
  margin: 16px;
  background: #f5f5f6;
}

.center-content {
  /*padding: 2.5% 5%;*/
  padding: 1% 2%;
}

ul {
  list-style-type: none;
}

.gather-top {
  padding-left: 15%;
  padding-right: 15%;
}

.gather-foot {
  padding-left: 15%;
  padding-right: 15%;
}

.indent {
  padding-left: 16px;
}

.biopic {
  float: left;
  padding: 12px;
  width: 220px;
  display: none;
}

.project-image {
  width: 340px;
  display: none;
}

img {
  padding: 2px;
}

span {
  padding: 2px;
}

#lets-connect {
  text-align: center;
  margin-top: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
  .project-image {
    width: 300px;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  .project-image {
    width: 210px;
  }
}

@media only screen and (max-width: 700px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .project-image {
    width: 150px;
  }
  .welcome-message {
    display: none;
    padding-top: 4px;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 700px) {
  #skills-h3,
  .biopic {
    display: block;
  }
  .project-image {
    display: inline-block;
  }
}

.fab-main {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #00bcd4;
  border: none;
  outline: none;
  padding: 10px;
  color: #FFF;
  font-size: 36px;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}
